<h1>Edit Note</h1>

<%= render "form" %>

<div class="navigation_tree">
  <span>>> <%= link_to 'Weeks', root_path %> >> <%= link_to 'Day', lesson_day_path(@note.lesson_day_id) %> >> <%= link_to 'Note', note_path(@note.id) %> >> Edit</span>
</div>
