<!DOCTYPE html>
<html>
  <head>
    <title> Notesaisseur </title>
  </head>



  <body>
    <section class="banner">
      <p id = "welcome"> welcome to </p>
      <p id = "intro">collaborative learning platform <br/>
      for Codaisseur Academy students<br/>
     </p>
    </section>

    <p id="benefits"> Share notes and code on specific classes with other students and teachers.<br/>
      Have an easy overview on both future and past lessons.<br/>
      Receive feedback from teachers in a way that all students can learn from it.
    </p>

  </body>
</html>
