  <body id="home-page">
    <section class="banner">
      <h1> <strong>Welcome</strong></br>
        to the collaborative learning platform </br>
        for Codaisseur Academy students</br></br>
        <p class="benefits"> Share notes and code on specific classes with other students and teachers.<br/>
          Have an easy overview on both future and past lessons.<br/>
          Receive feedback from teachers in a way that all students can learn from it.
        </p>
     </h1>
    </section>

    <a class="button"> <link href=""

    <!-- <p id="benefits"> Share notes and code on specific classes with other students and teachers.<br/>
      Have an easy overview on both future and past lessons.<br/>
      Receive feedback from teachers in a way that all students can learn from it.
    </p>
    </div> -->

  </body>
</html>
