// Place all the styles related to the LessonDays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 150px;
  max-width: 940px;
  margin: 20px 0;
}

#flex-container section {
  text-align: center;
  background-color: #e0e0e0;
  flex-direction: row;
  background-color: #purple;
  border: 0px solid black;
  margin: 0 1em 1em;
  padding-bottom: 10px;
  width: 17em;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
}

section p {

}

section h2 {
  margin-top: 0;
  color: #f4f4f4;
  padding: 10px;
  background-color: #D32F2F;
  height: 45px;
}

section h3 {
  margin: 0 0 10px 10px;
}

section a {
  color: #000;
}



ul {
  list-style: none;
  padding: 0;
  border: 1px solid grey;
}

li {
  padding: 7px 0 7px 35px;
  background:url('note-icon.png') no-repeat;
  background-size: 21px 21px;
}
li:nth-child(2n+1) {
  background: #CCC;
  background:url('note-icon.png') #eaeaea no-repeat;
  background-size: 21px 21px;
}

li:first-child {
  background: none;
  background: #eaeaea;
  font-weight: 600;
}
