<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
    </style>
  </head>

  <body>

    <header>
      <img src:"images/header_logo.png" alt="notesassieur logo"/>
    </header>

    <%= yield %>

    <footer>
      <p>checking</p>
    </footer>

  </body>
</html>
